$primaryColor: #409EFF;
    $primaryColor9: #53A8FF;
    $primaryColor8: #66B1FF;
    $primaryColor7: #79BBFF;
    $primaryColor6: #8CC5FF;
    $primaryColor5: #A0CFFF;
    $primaryColor4: #B3D8FF;
    $primaryColor3: #C6E2FF;
    $primaryColor2: #D9ECFF;
    $primaryColor1: #ECF5FF;
$successColor: #67C23A;
    $successColor9: #E1F3D8;
    $successColor8: #F0F9EB;
$warningColor: #E6A23C;
    $warningColor9: #FAECD8;
    $warningColor8: #FDF6EC;
$dangerColor: #F56C6C;
    $dangerColor9: #FDE2E2;
    $dangerColor8: #FEF0F0;
$infoColor: #909399;
    $infoColor9: #E9E9EB;
    $infoColor8: #F4F4F5;
